# Documentations
Documentation/
# ******************************************************

# FRAUD FILTER - MINOR PROJECT 
FraudFilter - Minor Project/frontend/node_modules

# MODEL TRAINER
tiny-fake-review-detector/Model Trainer/.ipynb_checkpoints
*.pkl


# *****************************************************
# TINY FAKE REVIEW DETECTOR

# BACKEND 
tiny-fake-review-detector/backend/.idea
tiny-fake-review-detector/backend/.venv
tiny-fake-review-detector/backend/.venv1

# FRONTEND 
tiny-fake-review-detector/frontend/node_modules


